<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/master.css">
    <title>ejs</title>
  </head>
  <body>
    <h1>ejsejsejsejsesjsejs</h1>
    <p>
      Count: <%= count %>
    </p>
  </body>
</html>
