
<div class="new">
  <h3>New Posts</h3>
  <form class="posts_form" action="/posts" method="post">
    <label>title</label>
    <input type="text" name="post[title]" value="">
    <label>body</label>
    <textarea name="post[body]"></textarea>
    <button type="submit">Submit</button>
  </form>
  <a href="/posts"><button>Back</button></a>
</div>
